In [1]:
#read crypto_data.csv into Pandas
import pandas as pd
df = pd.read_csv('crypto_data.csv')
df.head()

,Unnamed: 0,CoinName,Algorithm,IsTrading,ProofType,TotalCoinsMined,TotalCoinSupply
0,42,42 Coin,Scrypt,True,PoW/PoS,4.199995e+01,42
1,365,365Coin,X11,True,PoW/PoS,NaN,2300000000
2,404,404Coin,Scrypt,True,PoW/PoS,1.055185e+09,532000000
3,611,SixEleven,SHA-256,True,PoW,NaN,611000
4,808,808,SHA-256,True,PoW/PoS,0.000000e+00,0

In [2]:
df.dtypes

Unnamed: 0          object
CoinName            object
Algorithm           object
IsTrading             bool
ProofType           object
TotalCoinsMined    float64
TotalCoinSupply     object
dtype: object

In [3]:
len(df)

1252

In [4]:
#Discard all cryptocurrencies that are not being traded. 
df = df.loc[df['IsTrading'] == True]
len(df)

1144

In [5]:
#drop IsTrading column
df = df.drop(columns = 'IsTrading')
df.head()

  Unnamed: 0   CoinName Algorithm ProofType  TotalCoinsMined TotalCoinSupply
0         42    42 Coin    Scrypt   PoW/PoS     4.199995e+01              42
1        365    365Coin       X11   PoW/PoS              NaN      2300000000
2        404    404Coin    Scrypt   PoW/PoS     1.055185e+09       532000000
3        611  SixEleven   SHA-256       PoW              NaN          611000
4        808        808   SHA-256   PoW/PoS     0.000000e+00               0

In [6]:
#Remove all rows that have at least one null value.
df = df.dropna()
len(df)

685

In [7]:
#Filter for cryptocurrencies that have been mined
df = df.loc[df['TotalCoinsMined'] > 0]
len(df)

532

In [8]:
#Delete the CoinName from the original dataframe.
df = df.drop(columns = 'CoinName')
df.head()

           Algorithm ProofType  TotalCoinsMined TotalCoinSupply
Unnamed: 0
42            Scrypt   PoW/PoS     4.199995e+01              42
404           Scrypt   PoW/PoS     1.055185e+09       532000000
1337             X13   PoW/PoS     2.927942e+10    314159265359
BTC          SHA-256       PoW     1.792718e+07        21000000
ETH           Ethash       PoW     1.076842e+08               0

In [ ]:
#make Unnamed: 0 index column??
df.set_index

In [ ]:
#convert Algorithm and ProofType into numerical data. 
df_dummies = pd.get_dummies(df)
df_dummies.head()

In [ ]:
#Standardize your dataset so that columns that contain larger values do not unduly influence the outcome.
from sklearn.preprocessing import StandardScaler

In [ ]:
# Perform dimensionality reduction with PCA, PCA(n_components=0.90) 

#check shape of reduced data

In [ ]:
#run t-SNE on the principal components: the output of the PCA transformation. 
#Then create a scatter plot of the t-SNE output.

In [ ]:
# Create an elbow plot to identify the best number of clusters. Use a for-loop to determine the inertia for each k between 1 through 10. Determine, if possible, where the elbow of the plot is, and at which value of k it appears.

In [ ]:
#Based on your findings, make a brief (1-2 sentences) recommendation to your clients. Can the cryptocurrencies be clustered together? If so, into how many clusters?